@import "_main.scss";
@import "_shop.scss";

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: initial;
	}
}

.container {
	animation: fade-in 1s;
	position: relative;
	z-index: 0;
}
button:hover {
	cursor: pointer;
	background-color: #2db455;
}

.info-overlay {
	background: linear-gradient(#217cdc, #3ef8f2);
	color: white;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
	padding: 2.3vh;
	padding-top: 3vh;
	text-align: right;

	.info {
		margin-bottom: 5vh;
	}

	h1 {
		text-align: center;
		margin-bottom: 4vh;
	}
	p {
		text-align: center;
		width: 50%;
		margin: 0 auto;
	}

	clip-path: circle(0% at 92.5% 4.25%);
}

@keyframes flow-in {
	from {
		clip-path: circle(0% at 92.5% 4.25%);
	}
	to {
		clip-path: circle(140% at 92.5% 4.25%);
	}
}
.overlay-show {
	animation: flow-in 2s ease;
	clip-path: circle(140% at 92.5% 4.25%);
}
